
#playerWhiteBox, #playerBlackBox {
    -fx-border-width: 1px;
    -fx-border-color: lightgray;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-text-base-color: gray;
}

#playerWhiteBox:active {
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-text-base-color: black;
}

#playerBlackBox:active {
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-background-color: black;
}

#playerBlackBox:active > .label{
    -fx-text-fill: white;
}


#resultBox {
    -fx-background-color: #312E2B;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#resultBox > .label {
    -fx-text-fill: white;
}