* {
	/* Some general colors */
	backgroundColor: rgb(237,237,237);
	backgroundColorDark: derive(backgroundColor, -80%);
}

.label#leftTitle {
    -fx-font-size: 15px;
}

.label#leftDetail {
    -fx-font-size: 20px;
}

#topPane {
    -fx-background-color: backgroundColorDark
}

#topPane > .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#leftPane {
    -fx-background-color: backgroundColor;
}

#centerPane {
    -fx-background-color: #F9f9f9;
}

.scroll-pane, .scroll-pane:focused {
    -fx-background-color:transparent;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent
}