* {
    lightSquareColor: #ffffff;
    lightSquareColorHover: derive(lightSquareColor, -5%);
    lightSquareColorLastMoved: #eeeeff;

    darkSquareColor: #dfdfdf;
    darkSquareColorHover: derive(darkSquareColor, +25%);
    darkSquareColorLastMoved: #cecedf;

    squareColorSelected: #f6f682;
}

#lightSquare {
    -fx-background-color: lightSquareColor;
}

#lightSquare:hover {
    -fx-background-color: lightSquareColorHover;
}

#lightSquare:lastMoved {
    -fx-background-color: lightSquareColorLastMoved;
}

#lightSquare:kingCheck {
    -fx-background-color: red;
}

#darkSquare {
    -fx-background-color: darkSquareColor;
}

#darkSquare:hover {
    -fx-background-color: darkSquareColorHover;
}

#darkSquare:lastMoved {
    -fx-background-color: darkSquareColorLastMoved;
}

#darkSquare:kingCheck {
    -fx-background-color: red;
}

#lightSquare:selected, #darkSquare:selected {
    -fx-background-color: orange;
}